body {
  font-size: 14px;
  color: var(--gray-600);
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.pointer {
  cursor: pointer;
}

.text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

.inherit-theme {
  .inherit-text {
    color: inherit !important;
  }

  .inherit-bg {
    background-color: inherit !important;
  }
}
